 .backgrounds-layout {
     display: flex;
     justify-content: space-around;
     justify-items: center;
 }

 .backgrounds-container,
 .vip-backgrounds-container {
     width: 40%;
     margin: 10px;
 }

  .background-header,
  .vip-background-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
  }

  .background-header h3,
  .vip-background-header h3 {
      margin: 0;
      margin-left: 10px;
  }

 .background-header input,
 .vip-background-header input {
     display: none;
 }

 .custom-button {
     background-color: #4CAF50;
     border: none;
     color: white;
     padding: 10px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 13px;
     cursor: pointer;
     border-radius: 10px;
 }