.room {
    flex: 4;
    padding: 20px;
    direction: rtl;
}

.roomUpdateButton {
    border: none;
    width: 50%;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    justify-self: center;
}
.reset-btn {
    border: none;
    width: 20%;
    padding: 5px;
    background-color: rgb(163, 3, 22);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    justify-self: center;
}
.roomTop,
.roomBottom {
    display: flex;
    width: 100%;
}
.roomTitleContainer{
    display: flex;
    justify-content: space-between;
}
.roomTopContainer,
.roomBottomContainer {
    width: 100%;
    padding: 20px;
    margin: 20px;
    display: grid;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.roomTopContainer{
     grid-template-columns: 50% 50%;
}

.roomName {
    font-weight: 600;
    margin-top: 12px;
}

.roomInfoItem {
    width: 100%;
    display: flex;
    margin-top: 7px;
}
.roomFormItem{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.roomInfoKey{
    font-weight: 500;
    width: 25%;
}
.roomInfoValue {
    font-weight: 300;
}
.roomFormItem>input {
    padding: 10px;
    width: 100%;
}
.roomFormItem>label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}
.roomForm{
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 10px;
}
