.rootsList {
    flex: 4;
}
  .addButtonContainer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
  }
        .buttonGroup {
            display: flex;
            justify-content: space-between;
        }
.rootAddButton {
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}
.background-button {
    border: none;
    padding: 5px;
    background-color: rgb(151, 141, 0);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 10px;
    justify-self: start;
    
}